In [1]:
import pandas as pd
import quandl
import math
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = quandl.get('WIKI/GOOGL')

df.head(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0
2004-08-26,104.95,107.95,104.66,107.910,7094800.0,0.0,1.0,52.637487,54.142132,52.492038,54.122070,7094800.0
2004-08-27,108.10,108.62,105.69,106.150,6211700.0,0.0,1.0,54.217364,54.478169,53.008633,53.239345,6211700.0
2004-08-30,105.28,105.49,102.01,102.010,5196700.0,0.0,1.0,52.802998,52.908323,51.162935,51.162935,5196700.0
2004-08-31,102.32,103.71,102.16,102.370,4917800.0,0.0,1.0,51.318415,52.015567,51.238167,51.343492,4917800.0
2004-09-01,102.70,102.97,99.67,100.250,9138200.0,0.0,1.0,51.509003,51.644421,49.989312,50.280210,9138200.0

In [3]:
#Creating a dataframe with essential variables

df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]


#Defining the relationship between variables

df['HighLow_Percent'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100

df['Percent_Change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100

#Defining the new dataframe

df = df [['Adj. Close', 'HighLow_Percent', 'Percent_Change', 'Adj. Volume']]

df.head(10)

            Adj. Close  HighLow_Percent  Percent_Change  Adj. Volume
Date
2004-08-19   50.322842         3.712563        0.324968   44659000.0
2004-08-20   54.322689         0.710922        7.227007   22834300.0
2004-08-23   54.869377         3.729433       -1.227880   18256100.0
2004-08-24   52.597363         6.417469       -5.726357   15247300.0
2004-08-25   53.164113         1.886792        1.183658    9188600.0
2004-08-26   54.122070         0.037068        2.820391    7094800.0
2004-08-27   53.239345         2.326896       -1.803885    6211700.0
2004-08-30   51.162935         3.411430       -3.106003    5196700.0
2004-08-31   51.343492         1.308977        0.048866    4917800.0
2004-09-01   50.280210         2.713217       -2.385589    9138200.0

In [4]:
#New labels


forecast_col = 'Adj. Close'

#Replacing the NaN values - can be treated as an outlier later 

df.fillna(-99999, inplace=True)

forecast_out = int(math.ceil(0.01*len(df)))
print(forecast_out)


#Using math.ceil to round up values to the nearest whole number 

forecast_out = int(math.ceil(0.01*len(df)))

df['label'] = df[forecast_col].shift(-forecast_out)

df.dropna(inplace=True)

df.head(10)

35

,Adj. Close,HighLow_Percent,Percent_Change,Adj. Volume,label
Date,,,,,
2004-08-19,50.322842,3.712563,0.324968,44659000.0,69.078238
2004-08-20,54.322689,0.710922,7.227007,22834300.0,67.839414
2004-08-23,54.869377,3.729433,-1.227880,18256100.0,68.912727
2004-08-24,52.597363,6.417469,-5.726357,15247300.0,70.668146
2004-08-25,53.164113,1.886792,1.183658,9188600.0,71.219849
2004-08-26,54.122070,0.037068,2.820391,7094800.0,72.278116
2004-08-27,53.239345,2.326896,-1.803885,6211700.0,74.810934
2004-08-30,51.162935,3.411430,-3.106003,5196700.0,74.199045
2004-08-31,51.343492,1.308977,0.048866,4917800.0,70.462511
2004-09-01,50.280210,2.713217,-2.385589,9138200.0,74.921275

In [9]:
#Defining X and y values


X = np.array(df.drop(['label'], 1))
y = np.array(df['label'])

X = preprocessing.scale(X)

df.dropna(inplace=True)
y = np.array(df['label'])

#print(len(X), len(y))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

df.dropna(inplace=True)

#Linear Regression 
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)

accuracy = clf.score(X_test, y_test)

print (accuracy)

0.9767304996014741

C:\Users\Admin\AppData\Local\Temp\ipykernel_12172\650427863.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(df.drop(['label'], 1))

In [8]:
#SVM - Support vector machine

clf = svm.SVR()

clf.fit(X_train, y_train)

accuracy = clf.score(X_test, y_test)

print (accuracy)

0.7894459172809094